{%extends 'base.html'%}

{% block styles %}
<link rel="stylesheet" href="../static/styles/home.css">
{% endblock %}

{%block title%}
    Poke-Clash
{%endblock%}

{%block content%}
    {% include './includes/nav.html' %}
    <body>
        <h1>Welcome to Poké-Clash, Trainer!</h1>
        <h3>Prepare yourself for an extraordinary adventure as you step into the captivating realm of Pokémon! Unleash the full potential of your journey by establishing a Trainer account, granting you access to our expansive Poképedia, and the ability to battle other fellow trainers!. Immerse yourself in the enchanting universe of Pokémon like never before, where every corner is filled with excitement and discovery. With a multitude of information at your fingertips, embark on a quest to catch 'em all and become the ultimate Pokémon Master! It's time to embrace the challenge, the joy, and the wonder that await you on this epic Pokémon adventure! Gotta catch 'em all!🌟</h3>
            
        <iframe src="https://giphy.com/embed/8UGGp7rQvfhe63HrFq" width="480" height="269" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/reaction-mood-8UGGp7rQvfhe63HrFq"></a></p>             <h5>Explore Our Poképedia!</h5>
              <p>Dive into the vast knowledge of the Pokémon world with our Pokepedia! Whether you're a seasoned trainer or just starting your journey, the Pokepedia is your go-to destination for all things Pokémon.</p>
              
              <iframe src="https://giphy.com/embed/c2RYaU9p1YLyfUHq3T" width="480" height="273" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/pokemon-c2RYaU9p1YLyfUHq3T"></a></p>
              <h5>Battle Other Trainers!</h5>
              <p>Prepare for thrilling Pokémon battles as you step into the arena to challenge and engage with fellow trainers in epic showdowns at Poké-Clash! </p>

              <iframe src="https://giphy.com/embed/l41YouCUUcreUabHW" width="480" height="272" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/producthunt-l41YouCUUcreUabHW"></a></p>
              <h5>Join Poké-Clash Today!</h5>
              <p>Embark on an exciting journey into the world of Pokémon and join Poké-Clash today! Immerse yourself in a vibrant community of trainers, where thrilling adventures and epic battles await!</p>
        </body>
{%endblock%}